<?php

$finder = PhpCsFixer\Finder::create()
    ->in('packages')
;

$config = (new PhpCsFixer\Config())
    ->setRules([
        '@PHP56Migration' => true,
        '@PHP70Migration' => true,
        '@Symfony' => true,
        'array_syntax' => [
            'syntax' => 'short'
        ],
        'list_syntax' => [
            'syntax' => 'short'
        ],
    ])
    ->setFinder($finder)
;

return $config;
