includes:
    - phpstan-baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    level: max
    paths:
        - packages/asynchronous-bundle/src/
        - packages/asynchronous-bundle/tests/
        - packages/asynchronous/src/
        - packages/asynchronous/tests/
        - packages/doctrine-dbal-bridge/src/
        - packages/doctrine-dbal-bridge/tests/
        - packages/doctrine-orm-bridge/src/
        - packages/doctrine-orm-bridge/tests/
        - packages/jms-serializer-bridge/src/
        - packages/jms-serializer-bridge/tests/
        - packages/jms-serializer-bundle-bridge/src/
        - packages/jms-serializer-bundle-bridge/tests/
        - packages/message-bus/src/
        - packages/message-bus/tests/
        - packages/rabbitmq-bundle-bridge/src/
        - packages/rabbitmq-bundle-bridge/tests/
        - packages/serialization/src/
        - packages/serialization/tests/
        - packages/symfony-bridge/src/
        - packages/symfony-bridge/tests/
        - src/
    excludes_analyse:
        # See https://github.com/phpstan/phpstan/issues/4516
        - packages/message-bus/src/Recorder/PrivateMessageRecorderCapabilities.php
